<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name ="urls"
      type="JohnDarv.CSharp.Examples.CustomConfigSection.UrlSection, JohnDarv.CSharp.Examples.CustomConfigSection"
      allowLocation="true"
      allowDefinition="Everywhere"
    />
  </configSections>

  <urls>
    <url name="TheFirstOne" url="http://something.com" port="1234" />
    <!--<url name="TheSecondOne" url="http://somethingelse.com" port="9999" />
    <url name="TheDifferentOne" url="http://something.com/Completely/Different" port="7654" />-->
  </urls>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>